# Python 
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

#Django 
db.sqlite3
*.log

# Environment variables
.env
.env.*

#VS Code
.vscode/

#Operating system files
.DS_Store
Thumbs.db

#Python tooling/cache
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/